## Compiled Class Files
*.class
*.jar
*.zip
*.tar
*.gz
*.rar
*.war
*.ear

# VS Code
.vscode/
*.code-workspace

#IntelliJ
.idea/

#JVM Files
*.log
*.hprof
hs_err_pid*

# Build Specific
target/
build/
cmake-build-*/
output/
staging/